*~
.DS_Store
.idea
.vscode

node_modules/
npm-debug.log
build/
dist/tsBuild
testserver.pid
coverage/
tsBuild/
*.json.404

wakanda-solution/Contacts/Contacts Solution/breakpoints.json
wakanda-solution/Contacts/Contacts Solution/*.waPreferences
wakanda-solution/Contacts/Contacts Solution/*.cacheUAG
wakanda-solution/Contacts/Contacts Solution/Logs/*.txt
wakanda-solution/Contacts/Contacts/DataFolder/*
wakanda-solution/Contacts/Contacts/Logs/*
wakanda-solution/Contacts/Contacts/*.Match
wakanda-solution/Contacts/Contacts/*.waSym
wakanda-solution/Contacts/Contacts/*.waSymData
!wakanda-solution/Contacts/Contacts/WebFolder/index.html
!wakanda-solution/Contacts/Contacts/WebFolder/.htaccess
wakanda-solution/Contacts/Contacts/WebFolder/*
wakanda-solution/Contacts/Contacts Solution/Directory.WakTDef